name: Build

on:
  push:
  pull_request:

env:
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
  DOTNET_VERSION: 9.0.101
  DOTNET_MULTILEVEL_LOOKUP: '0'
  DOTNET_NOLOGO: 'true'
  FORCE_COLOR: '1'
  NUGET_XMLDOC_MODE: ''

# Kill other jobs when we trigger this workflow by sending new commits
# to the PR.
# https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  fantomas-check:
    name: "Format with Fantomas"
    runs-on: ubuntu-latest
    steps:
      -   name: Checkout repository
          uses: actions/checkout@v6

      -   name: Setup .NET Core
          uses: actions/setup-dotnet@v5
          with:
              dotnet-version: ${{ env.DOTNET_VERSION }}

      -   name: Tool Restore
          run: dotnet tool restore

      -   name: Lint
          run: dotnet fantomas -r --check .

  build:
    name: Build the project
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # workaround for https://github.com/actions/runner/issues/2033
      - name: ownership workaround
        run: git config --global --add safe.directory '*'

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
            dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore nuget dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore
