name: Build

on:
  push:
  pull_request:

env:
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_VERSION: 8.0.301

# Kill other jobs when we trigger this workflow by sending new commits
# to the PR.
# https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  fantomas-check:
    name: "Format with Fantomas"
    runs-on: ubuntu-22.04
    steps:
      -   name: Checkout repository
          uses: actions/checkout@v4

      -   name: Setup .NET Core
          uses: actions/setup-dotnet@v4
          with:
              dotnet-version: ${{ env.DOTNET_VERSION }}

      -   name: Tool Restore
          run: dotnet tool restore

      -   name: Lint
          run: dotnet fantomas -r --check .

  build:
    name: Build the project
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # workaround for https://github.com/actions/runner/issues/2033
      - name: ownership workaround
        run: git config --global --add safe.directory '*'

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
            dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore nuget dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore
